  <svg id="invitation-svgout" class="col-md-8" [style.width]="svgWidth" [style.height]="svgHeight">
    <defs>
      <linearGradient id="rr-168-90-rgba_203_203_203_0.5__0-rgba_233_233_233_0.5__100" x1="0" y1="1" x2="6.123233995736766e-17"
        y2="0">
        <stop offset="0%" stop-color="#cbcbcb" stop-opacity="0.5"></stop>
        <stop offset="100%" stop-color="#e9e9e9" stop-opacity="0.5"></stop>
      </linearGradient>
      <linearGradient id="rr-168-270-rgba_175_216_248_1_-rgba_255_255_255_1_" x1="1.8369701987210297e-16" y1="0" x2="0" y2="1">
        <stop offset="0%" stop-color="#afd8f8" stop-opacity="1"></stop>
        <stop offset="100%" stop-color="#ffffff" stop-opacity="1"></stop>
      </linearGradient>
      <filter id="rr-drop-shadow-non-layered-1_1_3_rgb_64_64_64_" y="-1000%" x="-1000%" width="2000%" height="2000%">
        <feOffset result="offOut" in="SourceGraphic" dx="1" dy="1" id="rr-4B2DD43C-4912-4B77-A595-4B2CE2E351AE"></feOffset>
        <feColorMatrix result="matrixOut" in="offOut" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.3095875 0" id="rr-AC26281E-5332-448A-9449-2D39D8E82100"></feColorMatrix>
        <feGaussianBlur result="blurOut" in="matrixOut" stdDeviation="1.7320508075688772" id="rr-203B74DD-4523-4DE8-B836-BB907B788260"></feGaussianBlur>
        <feComposite in="SourceGraphic" in2="blurOut" operator="over" id="rr-0606AC06-B9A9-45B6-A157-B39456817EC5"></feComposite>
      </filter>
      <clipPath id="rr-6D178BC1-3F2A-496F-BCFC-A3C95F9F2AC2">
        <rect x="38" y="18" width="544" height="348" transform="matrix(1,0,0,1,0,0)"></rect>
      </clipPath>
      <clipPath id="rr-5EC89A4F-F00C-4EAB-944B-D1527D2EB275">
        <rect x="28" y="18" width="554" height="348" transform="matrix(1,0,0,1,0,0)"></rect>
      </clipPath>
      <clipPath id="rr-BA48E0AC-E669-4025-8705-26CC4488353C">
        <rect x="28" y="18" width="554" height="348" transform="matrix(1,0,0,1,0,0)"></rect>
      </clipPath>
      <clipPath id="rr-D396BA79-90BA-46C6-A9E0-B5C8C5D9935D">
        <rect x="28" y="18" width="554" height="348" transform="matrix(1,0,0,1,0,0)"></rect>
      </clipPath>
      <clipPath id="rr-84F596BB-213D-4748-9C61-8E1596A81B15">
        <rect x="28" y="18" width="554" height="348" transform="matrix(1,0,0,1,0,0)"></rect>
      </clipPath>
      <clipPath id="rr-741D396F-CD8F-452D-8E8E-33C1EAFD9EDF">
        <rect x="28" y="18" width="554" height="348" transform="matrix(1,0,0,1,0,0)"></rect>
      </clipPath>
      <clipPath id="rr-5648D710-6069-4630-B445-FDD13FDAA102">
        <rect x="28" y="0" width="554" height="366" transform="matrix(1,0,0,1,0,0)"></rect>
      </clipPath>
    </defs>
  </svg>